body {
  background-color: mediumspringgreen;
  color: darkslategray;
}
header {
  background-color: limegreen;
}
header h1 {
  margin: 8px 15px 12px 2px;
}
#about {
  background-color: darkmagenta;
}
#about p b {
  width: 50px;
  height: 50px;
}
#about img {
  max-width: 30%;
}
section.codebox {
  background-color: darkcyan;
}
#boxmodel {
  background-color: darkviolet;
}
#units {
  background-color: darkolivegreen;
}
#fonts {
  background-color: darkblue;
}
section {
  background-color: darkslateblue;
  color: yellow;
}
h1 {
  margin: 10px;
}
h2 {
  margin: 15px;
  color: orange;
}
nav ul {
  list-style-type: none;
  background-color: skyblue;
  margin-block-start: 8px;
  margin-block-end: 22px;
  margin-inline-start: 0px;
  margin-inline-end: 25px;
}
#selectors dl {
  /* border-width: 2px 4px 6px 8px;
  border-color: red green blue yellow;
  border-style: solid inset dashed groove; */
  border: 2px solid red;
}
selectors {
  border-radius: 1em;
}
